@font-face {
  font-family: 'square';
  src: url('/square.ttf')
}

* {
  font-family: square;
}

body {
  color:#CCCCCC;
  background: #333333;
  font-size:20px;
  font-family: square;
}

pre {
  background:#111111;
  width: fit-content;
  padding: 5px;
  line-height: 1em;
  font-size:20px;
}

.status_container {
  background:#111111;
  min-height:100px;
  display:flex;
  justify-content: space-between;
  width:80%;
  margin:auto;
}

.status_container pre {
  margin:5px;
}

.cell:hover {
  background:gray;
}

.cell {
}
